*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    text-align: center;
    display: inline;
    
   


}
.choice:hover{
     /* opacity: 0.5;    */
     cursor: pointer; 
    background: #000;
    border-radius: 50%;
    display: inline;
 
    
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 150px;
    
   
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#user-score {
    font-size: 4rem;
    margin-top: 3rem;
    margin-left: 40px;   
}
p{
    margin-left: 50px;
}
#comp-score{
    font-size: 4rem;
    margin-top: 3rem;   
   
}
#msg{
    background: #000;
    font-size: 50px;
    /* margin-top: 165px; */
    text-transform: uppercase;
    color: #fff;
    display: inline;
    border-radius: 1rem;
    line-height: 150px;
    /* cursor: pointer;
 */}
